


body {
    font-family: 'Raleway';
    background-color: #14213d;
}

.navbar-brand img {
    max-height: 60px;
    width: auto;
  }

 
  #showcase, #aboutUsShowcase, #consultMainPage{
    background-color: #14213d;
  }

#showcase{
    color:#fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aboutUsText{
    color:#fff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: center;
}

.brand-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .brand-text h1 {
    margin-right: 10px;
  }
  
  .brand-text h3 {
    margin-left: 10px; 
  }

  #headerText, #tenetsColor{
    color:#fca311;
  }

  @media(min-width: 768px){
    .news-input{
        width: 50% ;
    }
  }

.card{
    background-color: #000;
    color: #fca311;
}

#navbar{
    background-color: #000;
}