body {
    font-family: 'Raleway';
}

.navbar-brand img {
    max-height: 60px;
    width: auto;
  }

  :root {
    --primary: #000; 
    --secondary: #14213d;
    --tertiary: #fca311;
  }

  .custom-navbar{
    background-color: #000 ;
  }
  body{
    background-color: #14213d;
  }

